#menu{
    height: 106px;
    margin: 0 auto;
    padding: 0px 20px ;
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
}

.logo{
    width: 200px;
}

.nav{
    position: relative;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background: #704EEA;
    padding: 15px 40px;
    border-radius: 100px;
    
}

.nav a{
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: 7.5%;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
}

.indicador{
    position: absolute;
    top: 44px;
    left: 16.5px;
    height: 37px;
}